@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.BodyOfSite {
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem;
    font-family: Inter, system-ui;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity))
}

.BodyOfPage {
    margin: 0px;
    line-height: inherit;
}

.light_Header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1280px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    unicode-bidi: isolate;
    font-family: Inter; system-ui;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
}

  .nav {
   height: 80px;
   display: flex;
  }

  .light__MobileNavLinksContainer {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .light__NavToggle {
    z-index: 20;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
  }

  .Navigation__Toggle {
    height: 40px;
    width: 40px;
  }

  .Mobile__NavLinks, .StyledMobile__NavLinks {
    display: block;
    transform: translateX(0%) translateZ(0px);
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
    margin: 24px 16px;
    border-radius: 8px;
    border-width: 1px;
    padding: 26px;
    text-align: center;
    color: rgb(26 32 44);
  }

  .logo {
      margin-right: 12px;
      width: 40px;  
  }

  img {
    width: 100%;
  }

  .light__NavLinks {
    display: inline-block;
  }

  .light__NavLink {
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom-width: 2px;
    border-color: transparent;
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    color: #243E63
  }

  

  .nav__logo--container-title {
        font-size: 24px;
        font-weight: bold;
        padding: 0px 0px 4px;
        margin: 8px 0px;
        color: #243E63;
  }

  .nav__container {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
  }

  .light__DesktopNavLinks {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }



  .light_NavLinkFR {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom-width: 0px;
    font-weight: 900;
    margin-left: 0px !important;
    font-size: 24px !important;
    margin-top: 8px;
    margin-bottom: 8px;
    border-color: transparent;
    padding-bottom: 4px;
    letter-spacing: 0.4px;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    color: inherit;
    text-decoration: inherit;
  }

  

  a {
    color: inherit;
    text-decoration: inherit;
  }

  ul {
    display: flex;
  }

  li {
    list-style-type: none;
  }

  .blue {
    color: #6415FF;
  }
  
.logo {
    width: 80px;
    margin-right: 12px;
    width: 40px;
}




.nav__link:hover {
    text-decoration: underline;
}



.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: rgb (226, 232, 240)
}

.nlb--var-1 {
    background: #6415ff;
    color: white;
    padding: 10px 12px;
    border-radius: 9999px;
}

.nlb--var-2 {
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 9999px;
    margin-right: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding-bottom: 16px;
    padding-top: 16px;
    font-weight: 700;
    --tw-text-opacity: 1;
    background: #6415ff;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    appearance: button;
}

.nlb--var-2:hover {
    text-decoration: none;
}

button:active {
    transform: translateY(1px)
}

button {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    cursor: pointer;
  }

  .header__description {
        display: flex;
        flex-direction: column;
        align-items: center;
  }

  .header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around
  }

  .menu__backdrop {
    display: none;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 24px;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
  }

  input {
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding-left: 32px;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}



.trusted__customer {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    --tw-text-opacity: 1;
    color: rgb(160 174 192 / var(--tw-text-opacity));
    text-align: left;
}



h5 {
    text-align: center;
    font-size: 20px;
}

h2 {
    color: #243E63;
    font: 36px;
    text-align: center;
    font-weight: 900;
    margin: 0px;
}

.light__PrimaryLink, .light__StyledPrimaryLink {

border-radius: 9999px;
border-bottom-width: 0px;
--tw-bg-opacity: 1;
background-color: rgb(100 21 255 / var(--tw-bg-opacity));
padding: 12px 32px;
--tw-text-opacity: 1;
color: rgb(247 250 252 / var(--tw-text-opacity));
border-color: transparent;
font-weight: 600;
letter-spacing: 0.4px;
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-duration: 300ms;
}


.TwoColumnWithInput__Container {
   position: relative;
}



.TwoColumnWithInput__LeftColumn {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.TwoColumnWithInput__TwoColumn {

    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1280px;


}


.TwoColumnWithInput__Heading {
    font-weight: 700;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(26 32 44 / var(--tw-text-opacity));
    text-align: left;
    font-size: 16px;
}

.TwoColumnWithInput__Paragraph {
font-size: 16px;
margin: 32px 0px;
color: #243E63;
font: 16px Inter, system-ui;
}


.TwoColumnWithInput__Actions {
    position: relative;
    max-width: 448px;
    text-align: center;
}

input {

width: 100%;
border-radius: 9999px;
border-width: 2px;
padding-left: 32px;
font-weight: 500;
transition-property: background-color, border-color, color, fill stroke, opacity, box-shadow, transform;
transition-duration: 300ms;
font-family: inherit;
font-size: 100%;
line-height: inherit;
color: inherit;
background: #FFFF;
Padding: 20px 192px 20px 32px;
margin: 0px;
overflow-clip-margin: 0px !important;
overflow: clip !important;
padding-block: 1px;
padding-inline: 2px;
text-rendering: auto;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
appearance: auto;
-webkit-rtl-ordering: logical;
cursor: text;
background-color: field;

}



.FortuneAndStuff {
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
}


.TwoColumnWithInput__RightColumn {
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.TwoColumnWithInput__IllustrationContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.TwoColumnWithInput___StyledImg {
    width: 100%;
    min-width: 0px;
    max-width: 512px;
}

.ThreeColumnSection {
    transform: none;
}


.ThreeColumnWithSideImage__Container {
    position: relative;
}

.SaaSProductLandingPage__Subheading {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.ThreeColWithSideImage__Subheading {
    margin-bottom: 16px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.ThreeColWithSideImage__Heading {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.4px;
}


.SaaSProductLandingPage__HighlightedText {
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.ThreeColumnWithSideImage__ThreeColumContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1024px;
    flex-flow: column wrap;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}


.ThreeColumnWithSideImage__Description {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    max-width: 60%;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}  


.ThreeColumnWithSideImage__VerticalSpacer {
    margin-top: 40px;
    width: 100%;
} 

.ThreeColumnWithSideImage__Column {
    /* max-width: 1200px; */
    /* width: 100%; */
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

}
 


.ThreeColWithSideImage__Card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 32px;
    text-align: left;
    width: calc(100% /3);
}



figure {

    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    padding: 20px;
    text-align: center;
    border-width: 1px;
    flex-shrink: 0;
}



.title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.4px;
}

.description {
    margin-top: 0.25rem;
    font-weight: 500;
    line-height: 2;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
    font: 16px;
} 



/* NEXT SECTION */

.TwoColWithButton__Column {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 448px;
}

.TwoColWithButton__TwoColumn {
    width: 100%;
    margin: 0 auto;
}



.TwoColWithButton__StyledImageWholeContainer {

/* max-width: 100%; */

}



.TwoColWithButton__Subheading {
    text-align: center;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.TwoColWithButton__Heading, h2{
    margin-top: 16px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.4px;
}


.TwoColWithButton__Description {
    margin-top: 16px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}





.TwoColWithButton__PrimaryButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    display: inline-block;
    font-size: 14px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding: 12px 32px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}


.TwoColWithSteps__Image {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    overflow: clip;
}

.TwoColWithSteps__Subheading {
    text-align: center;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
    margin: 0px;
    font-size: inherit;
    display: block;
    margin-block-start: 26.72px;
    margin-block-end: 26.72px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.TwoColWithHorizontalFeaturesAndButton__Description {
    margin-top: 32px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.TwoColWithTwoHorizontalFeaturesAndButton__Features {
    display: flex;
}

.TwoColWithTwoHorizontalFeaturesAndButton__Feature {

    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
}

.SaaSProductLandingPage__Subheading {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.TwoColWithButton___StyledSpan {
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.TwoColWithSteps__StepNumber {
    color: #CBD5E0;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.TwoColWithSteps__Container {

    
}

.TwoColWithSteps__TwoColumn {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1280px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}


.TwoColWithSteps__TextContent {
    text-align: center;
}

.TwoColWithSteps__TwoColumnYes {
    display: flex;
    align-items: center;


}


.TwoColWithSteps__TwoColumn, .TwoColWithSteps__ImageColumn {
    position: relative;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 448px;
}

.TwoColWithSteps__StepHeading {
    margin: 0px;
    text-align: left;
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
} 

.TwoColWithSteps__StepDescription {
    text-align: left;
}

.TwoColWithSteps__Steps {
    margin-top: 48px;
    margin: 0px;
    padding: 0px;
}

ul {
 list-style: none;
 margin: 0px;
 padding: 0px;
 display: block;
 margin-block-start: 16px;
 margin-block-end: 16px;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
 padding-inline-start: 40px;
 unicode-bidi: isolate;
}

.TwoColWithStep__Step {
    display: flex;
    padding-bottom: 20px;
}




.TwoColWithSteps__StepNumber {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(203 213 224 / var(--tw-text-opacity));
}


/* li {
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
} */



.TwoColWithSteps__StepHeading {
    padding-bottom: 8px;
}

.TwoColWithSteps__Heading {
    margin-top: 16px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.4px;
    display: block;
    margin-block-start: 13.28px;
    margin-block-end: 13.28px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bid: isolate;
}


.TwoColWithSteps__StepText {

    text-align: left;
    width: 50%;
}



.TwoColWithSteps__StepDescription {
    margin-top: 12px;
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    --tw-text-opacity: 1;
    color: rgb(113 128 150 / var(--tw-text-opacity));
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.TwoColWithSteps__Column, .TwoColWithSteps__TextColumn {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 448px;
}

.div {
    unicode-bidi: isolate;
}


/* NEXT SECTION */

.TwoColWithTwoHorizontalFeaturesAndButton__Container {
    position: relative;
}

.TwoColWithTwoHorizontalFeaturesAndButton__TwoColumn {
    margin: auto;
    margin-right: auto;
    display: flex;
    max-width: 1280px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-align: center;
    justify-content: space-between;
    box-sizing: border-box;
}


.TwoColWithHorizontalFeaturesAndButton__Heading {
    margin-top: 16px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.4px;
    display: block;
    margin-block-start: 13.28px;
    margin-block-end: 13.28px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.TwoColWithButton__Column, .TwoColWithButton__ImageColumn {
    position: relative;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 448px;
}

.TwoColWithButton__ImageColumnTreactWebsitePOV {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative;
    margin-left: auto;
    margin-right: auto; */
}



.TwoColWithButton__Container {

    padding: 0 16px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.TwoColWithButton__StyledImage {
    border-radius: 4px;
    border-width: 1px;
    width: 100%;
    height: auto;
}

.TwoColWithButton__TextContent {

    max-width: 40%;
    
}

TwoColWithTwoHorizontalFeaturesAndButton__FeatureIconContainer2 TwoColWithTwoHorizontalFeaturesAndButton__StyledFeatureIconContainer2




.SaaSProductLandingPage__Subheading {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacirty));
}

.TwoColWithTwoHorizontalFeaturesAndButton__Image {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.TwoColWithTwoHorizontalFeaturesAndButton__Column, .TwoColWithTwoHorizontalFeaturesAndButton__TextColumn {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 448px;
}

.TwoColWithTwoHorizontalFeaturesAndButton__Column, .TwoColWithTwoHorizontalFeauturesAndButton__ImageColumn {
    position: relative;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 448px;
}

.TwoColWithTwoHorizontalFeaturesAndButton__TextContent {
    text-align: center;
}



.TwoColWithHorizontalFeaturesandButton__FeatureHeadingContainer {

display: flex;
-webkit-box-align: center;
align-items: center;

}




.TwoColWithHorizontalFeaturesAndButton__FeatureHeadingContainer2 {

    display: flex;
    -webkit-box-align: center;
    align-items: center;

}



.TwoColWithHorizontalFeaturesAndButton__Subheading {
    text-align: center;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}





.TwoColWithHorizontalFeaturesAndButton__Description {
    color: #7C8BA1;
    font-size: 14px;
    margin: 32px 0px 0px;
}




.TwoColWithHorizontalFeaturesAndButton__FeatureHeadingContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.TwoColWithTwoHorizontalFeaturesAndButton__FeatureIconContainer, .TwoColWithTwoHorizontalFeaturesAndButton__StyledFeatureIconContainer {
    background-color: #9AE6B4;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    flex-shrink: 0;
    border-color: rgb(100, 21, 255);
    padding: 0.5rem;
    text-align: center;
    border-radius: 9999px;
    border-width: 0px;
}

.TwoColWithHorizontalFeaturesandButton__FeatureHeading {
    color: #243E63;
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
}

.TwoColWithHorizontalFeaturesandButton__FeatureDescription {
    margin-top: 16px;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(113 128 150 / var(--tw-text-opacity));
}


.TwoColWithHorizontalFeaturesandButton__FeatureDescription2 {

    margin-top: 16px;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(113 128 150 / var(--tw-text-opacity));

}




.TwoColWithTwoHorizontalFeaturesAndButton__PrimaryButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    display: inline-block;
    font-size: 14px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-text-opacity));
    padding: 12px 32px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    text-decoration: inherit;
}


.TwoColWithTwoHorizontalFeaturesAndButton__FeatureIconContainer2, .TwoColWithTwoHorizontalFeaturesAndButton__StyledFeatureIconContainer2 {
    background-color: #FEB2B2;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    flex-shrink: 0;
    border-color: rgb(100, 21, 255);
    padding: 0.5rem;
    text-align: center;
    border-radius: 9999px;
    border-width: 0px;
}

.nlb--var-3 {
    color: #F7FAFC;
    background-color: #6415FF;
    margin: 48px 0px 0px;
    font-size: 14px;
    Padding: 12px 32px;
    border-radius: 9999px;
}

.nlb--var-3:hover {
    text-decoration: none;
}

a {
    color: #F7FAFC;
}


/* NEXT SECTION */

.Random {
    position: relative;
}

.Random2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
    unicode-bidi: isolate;
    font-family: Inter, system-ui;
    --tw-text-opacity: 1;
    color: rgb(36 62 99 / var(--tw-text-opacity));
}

.ThreePlans__HeaderContainer {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
}

.ThreePlans__Subheading {
    margin-bottom: 16px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(100, 21, 255 / var(--tw-text-opacity));
}


.SaaSProductLandingPage__Subheading {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(100, 21, 255);
}

.textContainer {
    margin-left: 16px;
    width: 100%;
    text-align: left;
}


.ThreePlans__Heading {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.4px;
    margin: 0px;
    display: block;
    margin-block-start: 13.28px;
    margin-block-end: 13.28px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.ThreePlans__Description {
   width: 100%;
   text-align: center;
   margin-top: 16px;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.625;
   --tw-text-opacity: 1;
   color: rgb(124 139 161 / var(--tw-text-opacity));
   margin: 0px;
   padding: 0px;

}

p {
   display: block;
   margin-block-end: 16px;
   margin-block-start: 16px;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   unicode-bidi: isolate;
}


.ThreePlans_PlansContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ThreePlans__PlansContainer {
    position: relative;
    width: 100%;
    display: flex;
    gap: 40px;
    /* -webkit-box-pack: justify; */
    /* justify-content: space-between; */
}


.ThreePlans__Plan {
    position: relative;
  margin-top: 64px;
  display: flex;
  width: 100%;
  max-width: 384px;
  flex-direction: column;
  border-radius: 8px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-family: Inter, system-ui;
  line-height: inherit;
  text-size-adjust: 100%;
  tab-size: 4;
}


.ThreePlans___StyledDiv {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.ThreePlans__PlanHeader {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    text-transform: uppercase;
    line-height: 1.625;
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: #1A202C;
}
.price {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 36px;
    color: #1A202C;
    font-weight: 700;
}

.duration {
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #1A202C;
    --tw-text-opacity: 1;
    color: rgb(160 174 192 / var(--tw-text-opacity));
}

.ThreePlans__PlanFeatures {
    margin-left: -32px;
    margin-right: -32px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 32px;
}

.feature__mainFeature {
    margin-top: 0px;
    font-size: 20px;
    color: #1A202C;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.feature {
   --tw-text-opacity: 1;
   color: rgb(113 128 150 / var(--tw-text-opacity));
   margin-top: 20px;
   font-weight: 500;
}

.ThreePlans__BuyNowButton {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    appearance: button;
    cursor: pointer;
    font-family: inherit;
    line-height: inherit;
    text-rendering: auto;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
    border-image: initial;
    margin: 0px;
    font-size: 14px;
    padding: 12px 32px;
    --tw-text-opacity: 1;
    font-weight: bold;
}

.ThreePlans__BuyNowButton:hover {
    text-decoration: underline;
}

.ThreePlans__PlanAction {
    padding: 32px 16px;
}

.ThreePlans__Plan--Business {
    position: relative;
    margin-top: 64px;
    display: flex;
    width: 100%;
    max-width: 384px;
    flex-direction: column;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    text-align: center;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-position: intial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.ThreePlans__PlanHeader--Business {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    text-transform: uppercase;
    line-height: 1.625;
}

.ThreePlans__PlanFeatures--Business {
    border-color: rgb(102, 126, 234);
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 32px;
}

.feature__mainFeature--Business {
    color: #F7FAFC;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 700;
    letter-spacing: 4px;
}

.feature--Business {
    color: #F7FAFC;
   margin-top: 20px;
   font-weight: 500;
   font-size: 16px;
   margin: 20px;
}

.ThreePlans__BuyNowButton--Business {
    background: #F7FAFC;
    color: #ffb115;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 9999PX;
    font-weight: bold;
    text-transform: uppercase;
}

.ThreePlans__BuyNowButton--Business:hover {
    text-decoration: underline;
}

.ThreePlans__PlanAction--Business {
    padding: 8px 32px 0px;
}

.ThreePlans__Plan--Enterprise {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(247 250 252);
    background: linear-gradient(115deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.ThreePlans__PlanHeader--Enterprise {
    border-color: rgb(245, 101, 101);
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 32px;
}

.feature--Enterprise {
    color: #F7FAFC;
   margin-top: 20px;
   font-weight: 500;
   font-size: 16px;
   margin: 20px;
}

.feature__mainFeature--Enterprise {
    color: #F7FAFC;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 700;
}

.ThreePlans__PlanFeatures--Enterprise {
    border-color: rgb(245, 101, 101);
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 32px;
}


.ThreePlans__BuyNowButton--Enterprise {
    background: #F7FAFC;
    color: rgb(76 81 191);
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 9999PX;
    font-weight: bold;
    text-transform: uppercase;
}

.ThreePlans__BuyNowButton--Enterprise:hover {
    text-decoration: underline;
}

.TwoColumnWithImageAndRating__Image {
    border-radius: 4px;
    
}

.TwoColumnWithImageAndRating__Row  {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}



.TwoColumnWithImageAndRating__Column, .TwoColumnWithImageAndRating__ImageColumn {
    position: relative;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 448px;
}


.TwoColumnWithImageAndRating__Subheading {
    text-align: center;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.TwoColumnWithImageAndRating__Heading {
   margin-top: 16px;
   font-weight: 900; 
   line-height: 1.25;
   letter-spacing: 0.4px;
}

.TwoColumnWithImageAndRating__Description {
    margin-top: 24px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}


.TwoColumnWithImageAnRratiing__TestimonialSlider {
    margin-top: 40px;
    width: 100%;
}

.slick-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: block;
    position: relative;
}

.slick-track {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
}

.TwoColumnWithImageAndRating__StarContainer {
   
}

.TwoColumnWithImageAndRating__Quote {
    margin-top: 16px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(74 85 104);
}

.TwoColumnWithImageAndRating__TestimonialHeading {
    margin: 16px;
    font-size: 20px;
    color: #243E63;
    font-weight: 700;
}



 .TwoColumnWithImaeAndRating__CustomerInfoAndControlsContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
 }

 .TwoColumnWithImageAndRating__CustomerProfilePicture {
    display: block;
    height: 64px;
    width: 64px;
    border-radius: 9999px;
    max-width: 100%;
 }

.TwoColumnWithImageAndRating__CustomerName {
    color: #243E63;
    Font-size: 20px;
    font-weight: 700;
}

.PreTwoColWithHorizontalFeaturesAndButton__FeatureHeadingContainer {

display: flex;

}

.TwoColumnWithImageAndRating__CustomerTitle {
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 500; 
}

.TwoColumnWithImageAndRating__Image {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

.TwoColumnWithImageAndRating__ControlButton {
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 9999px;
    background-color: rgb(237 242 247);
    padding: 16px;
    color: rgb(100 21 255);
    transition-property: background-color, border-color,color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.TwoColumnWithImageAndRating__ControlButton2 {
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 9999px;
    background-color: rgb(237 242 247);
    color: rgb(100 21 255);
    transition-duration: 300ms;
    transition-property: background-color, border-color,color, fill, stroke, opacity, box-shadow, transform;
}

.ClassBeforeSingleCol__Column {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.SingleCol__Column {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.SingleCol__HeaderContent {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    background-color: #ffb115;
}

.SingleCol__Subheading {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
}

.SingleCol__Description {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    max-width: 576px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: #2D3748;
}

.SingleCol__FAQSContainer {
    position: relative;
    margin-top: 48px;
    max-width: 896px;
    display:block;
    margin-block-start: 16px;
    margin-block-start: 16px;
    margin-inline-start: 0px;
    background-color: #ffb115;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.SingleCol__Question {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


.SingleCol__FAQ {
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    --tw-bg-opacity: 1;
    background-color: rgb(237 242 247 / var (--tw-bg-opacity));
    padding: 20px 32px;
    --tw-text-opacity: 1;
    color: rgb(45 55 72 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.SingleCol__QuestionText {
    font-size: 18px;
    font-weight: 600;
}

.SingleCol__QuestionText {
    font-weight: bold;
    display: flex;
    padding-top: 10%;
}

/* NEXT SECTION */

.GetStarted__StyledContainer {
    margin-bottom: 96px;
}

.GetStarted__StyledContainer2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.GetStarted__ColumnContainer, .GetStarted__TextContainer {
        max-width: 512px;
 
}

.GetStarted__ColumnContainerGetStarted__LinksContainer {
display: flex;
align-items: center;
justify-content: space-between;
}


.GetStarted__PrimaryBackgroundContainer {
    position: relative;
    border-radius: 8px;
    background-color: rgb(100, 21, 255);
    padding-top: 96px;
    padding-bottom: 96px;
}

.GetStarted__Row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

.GetStarted__Text {
    font-size: 30px;
    font-weight: 700;
    --tw-text-opacity: 1;
    margin: 0px;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    margin: 0px;
}

.GetStarted__ColumnContainer, .GetStarted__LinksContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 512px;
}



.GetSarted__Link1 {
    
background-color: #ffb115;
padding: 16px 32px;
border-radius: 100px;
margin-right: 10px;

}



.GetStarted__Link2 {

background-color: transparent;
padding: 16px 32px;
border-radius: 100px;
border: 1px solid gray;

}


.GetStarted__DecoratorBlobContainer {
    position: absolute;
    inset: 0px;
    overflow: hidden;
    border-radius: 8px;
    --tw-bg-opacity: 1;
}

.FiveColumnWithBackground__Container {
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding: 80px 32px;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
}




.FiveColumnEithBackground__Column {
    display: flex;
    justify-content: space-between;

}



.FiveColumnWithBackground__LinkListItem {
   margin-top: 12px; 
   display: list-item;
   font-size: 14px;
   font-weight: 500;
}

.FiveColumnWithBackground__Link {
    border-bottom-width: 2px;
    border-color: transparent;
    padding-bottom: 4px;
    transition-duration: 300ms;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    text-align: -webkit-match-parent;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
}

.FiveColumnWithBackground__LinkList {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    unicode-bidi: isolate;
    text-align: center;
}


.FiveColumnWithBackground__Divider {
    margin-top: 64px;
    margin-bottom: 64px;
    width: 100%;
    border-bottom-width: 2px;
    border-color: rgb(116 44 255);
}


.FiveColumnWithBackground__ThreeColRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-align:center;
    -webkit-box-pack: justify;
}

.FiveColumnWithBackground__LogoContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.FiveColumnWithBackground__LogoImg {
    width: 32px;
    max-width: 100%;
    height: auto;
}

.FiveColumnWithBackground__Content {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
}

.FiveColumnWithBackgroundColumn__Heading {
    font-weight: 700;
   text-transform: uppercase;
   margin: 0px;
   font-size: inherit;
   display: block;
   margin-block-start: 26.72px;
   margin-block-end: 26.72px;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   unicode-bidi: isolate;
}



.FiveCAolumnWithBackground__LogoText {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.8px;
    --tw-text-opacity: 1;
    color: #F7FAFC;
}

.TwoColumnWithImageAndRating__Testimmonial {
    width: 100%;
    height: 100%;
    flex-direction: column;
    outline: transparent solid 2px;
    outline-offset: 2px;
    display: flex !important;
}

.TwoColumnWithImageAndRating__CustomerInfo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

blockquote {
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}



.FiveColumnWithBackground__CopywrightNotice {
    text-align: center;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(100, 21, 255);
    margin: 0px;
    font: 16px Inter, system-ui;
    color: #CBD5E0;
    contrast: 4.56;
}




.FiveColumnWithBackground__SocialLinksContainer {
    display: flex;
    margin: 10px
}

.FiveColumnWithBackground__SocialLink2 {
    margin-left: 10px;
    margin-right: 10px;
}

.FiveColumnWithBackground__SocialLink {

margin-right: 16px;
margin-left: 16px;
cursor: pointer;
border-radius: 9999px;
--tw-bg-opacity: 1;
background-color: rgb(247 250 252 / var (--tw-bg-opacity));
padding: 8px;
--tw-text-opacity: 1;
color: rgb(26 32 44 / var (--tw-text-opacity));
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-duration: 300ms;
}



@media (min-width: 1024px) {

    .light__NavLink {
        margin: 0px 24px;
        font-size: 14px;
    }

    .light__DesktopNavLinks {
        display: flex;
    }
    .TwoColWithHorizontalFeaturesAndButton__Description {
        font-size: 18px;
    }


    .TwoColumnWithImageAndRating__Column, .TwoColumnWithImageAndRating__TextColumn {
        padding: 64px;
    }


    .TwoColumnWithImageAndRating__Description {
        font-size: 18px;
    }

    
    .light_NavLinkFR {
        margin: 0px 24px;
    }

    .TwoColumnWithInput__CustomersLogoStrip {

        margin-top: 80px;
    }

    .TwoColumnWithInput__TwoColumn {
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
    }

    .TwoColumnWithInput__RightColumn {

        margin-top: 0px;
        align-self: flex-end;

    }

    .TwoColWithTwoHorizontalFeaturesAndButton__Features {
        max-width: none;
        flex-direction: row;
    }

    .TwoColWithTwoHorizontalFeaturesAndButton__Feature {

   margin-top: 32px;

    }



    .TwoColumnWithImageAndRating__Heading {
        font-size: 48px;
    }

    .TwoColWithSteps__TextContent {
        padding-top: 32px;
        padding-bottom: 32px;
    }


    .TwoColumnWithInput__LeftColumn {
        width: 41.6667%;
        max-width: none;
        text-align: left;
    }

    .TwoColumnWithInput__Heading {
        font-size: 36px;
    }

    .TwoColWithButton__Heading  {
        font-size: 48px;
        text-align: left;
    } 


    .TwoColWithTwoHorizontalFeaturesAndButton__TextContent {
        padding-top: 32px;
        padding-bottom: 32px;
        
     }

     .TwoColumnWithImageAndRating__CustomerInfo {
        -webkit-box-pack: start;
        justify-content: flex-start;
     }

     .TwoColWithButton__TextContent {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .TwoColWithButton__Description {
        font-size: 18px;
    }

    .TwoColumnWithInput__Paragraph {
        margin-top: 32px;
        margin-bottom: 32px;
        }

    .TwoColWithHorizontalFeaturesAndButton__Heading {
        font-size: 48px;
    }


    .FortuneAndStuff img {

        padding-right: 64px;
        
        }

        .trusted__customer {
            font-size: 12px;
        }

        .light__PrimaryLink, .light__StyledPrimaryLink {
            margin-left: 0px;
            margin-right: 0px;
            }

            .TwoColumnWithInput__Actions {
                margin-left: 0px;
                margin-right: 0px;
        
            }


            .ThreePlans__Description {
                font-size: 18px;
            } 

            .ThreePlans__PlansContainer {
                flex-direction: row;
                -webkit-box-align: stretch;
                align-items: stretch;
            }



            .ThreePlans_Plan {
                margin-right: 32px;
            }

            .ThreeColumnWithSideImage__Description {
                font-size: 18px;
            }

            .GetStarted__ColumnContainer, .GetStarted__LinksContainer {

                margin-top: 0px;
                -webkit-box-pack: end;
                justify-content: flex-end;
                
                    }

                    .GetSarted__Link, .GetStarted__PrimaryLink {

                        padding: 20px 40px;
                          
                      }

                      .GetStarted__Link2, .GetStarted__SecondaryLink {

                        padding: 20px  40px
                        
                            }
                            
                            
                        .FiveColumnWithBackground__Container {
                                padding-top: 96px;
                                padding-bottom: 96px;
                            }

                            .TwoColWithSteps__Heading {
                                font-size: 48px;
                               } 



  }


  @media (min-width: 640px) {
    .ThreeColWithSideImage__Heading {
        font-size: 48px;
    }

    input {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 192px;
    }

    /* .textContainer {
        margin-left: 16px;
        width: 100%;
        text-align: left;
    } */

    .nlb--var-2 {
        position: absolute;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 160px;
        line-height: 1;
    } 

    .ThreeColWithSideImage__Heading {
        font-size: 48px;
    }

    .ThreeColWithSideImage__Card {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .GetSarted__Link, .GetStarted__PrimaryLink {

        margin-right: 32px;
        width: auto;
        font-size: 16px  
      }

      .GetStarted__Link2, .GetStarted__SecondaryLink {

        margin-right: 0px;
        width: auto;
        font-size: 16px;
    }

      .GetStarted__Link2, .GetStarted__SecondaryLink: last-child {

        margin-right: 0px;
    }

    .TwoColumnWithImageAndRating__Quote {
        margin-bottom: 40px;
    }


    .FiveColumnWithBackgroundColumn__Heading {
        text-align: left;
    }

    .TwoColumnWithImageAndRating__CustomerInfo {
        flex-direction: row;
    }

    .FiveColumnWithBackground__FiveColumns {
        text-align: left;
    }

    .FiveColumnEithBackground__Columnn {
        text-align: left;
         padding-left: 0px;
         padding-right: 0px;  
       }

       .FiveColumnWithBackground__CopywrightNotice {
        font-size: 16px;
        text-align: center;
       }

      }


@media (min-width: 768px) {
    .ThreeColumnWithSideImage__ThreeColumContainer {
        flex-direction: row;
        -webkit-box-align: stretch;
        align-items: stretch;
        -webkit-box-pack: center;
        justify-content: center;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    
    .TwoColWithTwoHorizontalFeaturesAndButton__TextContent {
        text-align: left;
     }

     .TwoColumnWithImageAndRating__Column, .TwoColumnWithImageAndRating__TextColumn {
        order: 9999;
        margin-top: 0px;
        width: 58.3333%;
        margin-right: 0px;
        margin-left: 0px;
        max-width: none;
     }

     .TwoColWithHorizontalFeaturesAndButton__Heading {
        text-align: right;
     }

     .TwoColWithTwoHorizontalFeaturesAndButton__Feature {

        margin-top: 32px;
        align-items: flex-start;

     }


     .TwoColWithButton__ImageColumnTreactWebsitePOV {

        width: 50%;

     }

     .TwoColWithHorizontalFeaturesandButton__FeatureDescription {

        text-align: left;
     }


     .TwoColWithHorizontalFeaturesandButton__FeatureDescription2 {



     }

     .TwoColWithHorizontalFeaturesAndButton__Description {
        text-align: left;
     }

     .TwoColWithTwoHorizontalFeaturesAndButton__Features {
        margin-right: 0px;
        margin-left: 0px;
     }

     .TwoColumnWithImageAndRating__Subheading {
        text-align: left;
     }

     .TwoColumnWithImageAndRating__Heading {
        text-align: left;
     }

     .TwoColumnWithImageAndRating__Description {
        text-align: left;
     }

     .TwoColWithButton__PrimaryButton {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 32px;
    }

    .TwoColWithButton__TwoColumn {
            flex-direction: row;
            padding-top: 96px;
            padding-bottom: 96px;
    }

     .TwoColWithTwoHorizontalFeaturesAndButton__PrimaryButton {
        margin-left: 0px;
        margin-right: 0px;
    }

    .TwoColumnWithImageAndRating__Row {
        flex-direction: row;

    }

    .TwoColWithTwoHorizontalFeaturesAndButton__TwoColumn {
        flex-direction: row;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .TwoColWithSteps__TwoColumn, .TwoColWithSteps__ImageColumn {
        width: 50%;
        margin-left: 0px;
        margin: right;
        max-width: none;
    }

    .TwoColumnWithImageAndRating__Column, .TwoColumnWithImageAndRating__ImageColumn {
        width: 41.6667%;
        margin-left: 0px;
        margin-right: 0px;
        max-width: none;
    }

    .TwoColumnWithImageAnRratiing__TestimonialSlider {
        text-align: left;
    }

    .TwoColWithSteps__Heading {
        text-align: left;
       } 

    .TwoColWithButton__TextContent {
        text-align: left;
      }

          .TwoColWithButton__Description {
        text-align: left;
    }

    .TwoColWithSteps__TwoColumn {
        flex-direction: row;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .TwoColumnWithInput__TwoColumn {
        padding-top: 96px;
        padding-bottom: 96px;
    }



    .TwoColWithSteps__StepText {
        margin-top: 0px;
        margin-left: 24px;
    }

    .FiveColumnWithBackground__FiveColumns {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .FiveColumnEithBackground__Column {
        width: auto;
    }

    .FiveColumnWithBackground__ThreeColRow {
        flex-direction: row;
    }

    .FiveColumnWithBackground__CopywrightNotice {
        margin-top: 0px;
    }
    
    .FiveColumnWithBackground__SocialLinksContainer {
        margin-top: 0px;
    }



}

     


    